* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}


.box1 {
  /* background-color:pink; */
  background-color:#800000;
  width:100%;
  height:2150px;
  text-align:center;
}

.nyuryoku {
  width:100%;
  height:520px;
  background-color:#800000;
  float:left;
  margin-top:100px;
  
}

.nyuryoku img {
  width:950px;
  height:650px;
}


input#name {
  width:300px;
  height:70px;
}

input#button {
  width:200px;
  height:70px;
}


input[type="button"]{
  font-size: 150%;
}

input[type="text"]{
  /*font-size: 150%;*/
  font-size: 25px;
}

.logo img {
  width:600px;
  height:550px;
}






